html {
    height : 100%;
}
body {
    width : 100%;
    height : 100%;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

.imagini{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    vertical-align: middle;
    width: 50%;
    margin-top: 30%;
}
.imagini > img {
    width : 100%;
    height : 200px;
}